#navbarcolor{
    background-color: #034370;
}

.center{
  text-align: center;
}

.headertext{
    background-color: #034370;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.containercolor{
    background-color: lightgrey;
    padding: 30px;
    margin: auto;
    width: 70%;
}

.container_inset{
    background-color: white;
    padding: 30px;
    width: 60%;
    margin-left: 15px;
}

.comparison_container_inset{
  background-color: white;
  padding: 30px;
  margin-left: 15px;
}

#home_image_main{
    float: left;
    width: 400px;
    height: 275px;
}

#home_image_small{
    float: left;
    width: 160px;
    height: 110px;
}

#visual_image_main{
  float: left;
  width: 750px;
  height: 500px;
}

.comparison_image_main{
  float: left;
  width: 500px;
  height: 325px;
}

#home_image_small{
  float: left;
  width: 160px;
  height: 110px;
}

@media (min-width: 992px) {
    .animate {
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
@-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }


 /* Visualization Animations  */
figure.photo {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 150px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.photo * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

figure.photo img {
  max-width: 100%;
  position: relative;
  opacity: 0.8;
}

figure.photo figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.photo h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-20deg) rotate(0deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  font-weight: 400;
}

figure.photo:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.photo a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.photo.blue {
  background: #123851;
}

figure.photo.blue h2 {
  background: #0a212f;
}

figure.photo.red {
  background: #581a14;
}

figure.photo.red h2 {
  background: #36100c;
}

figure.photo.yellow {
  background: #7f5006;
}

figure.photo.yellow h2 {
  background: #583804;
}

figure.photo.grey {
    background: #838280;
  }
  
  figure.photo.grey h2 {
    background: #3b3b3b;
  }

figure.photo:hover img,
figure.photo.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.photo:hover h2,
figure.photo.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.photo:hover:before,
figure.photo.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}


.row-striped:nth-of-type(odd){
  background-color: #efefef;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
}